.nav {
  background-color: black;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav .items ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav .items ul li {
  margin: 0 10px;
  cursor: pointer;
}

.extra-link {
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  color: #658cbb;
}
